.wrapper {
  height: 100%;
  width: 100%;
  background-image: url("../../shared/assets/image.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.blur {
  height: 100%;
  width: 100%;
  background-color: #2b2a2a1a;
  backdrop-filter: blur(5px);
}

.img {
  width: 360px;
  height: 360px;
}
.header {
  color: #fff;
  font-weight: 800;
  font-size: 30px;
  line-height: 37.65px;
  width: 350px;
  text-align: center;
  font-family: Mulish;
}
.paragraph {
  font-size: 15px;
  font-weight: 300;
  line-height: 18.83px;
  text-align: left;

  padding-top: 41px;
  width: 246px;
  color: #464646;
  font-family: Mulish;
}
.span {
  font-size: 15px;
  font-weight: 500;
  line-height: 17.24px;
  text-align: left;
  color: #99f0d1;
  font-family: Ubuntu;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% );
}

.groupButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: center;
  flex-direction: row;
  position: absolute;
  bottom: 0px;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
