.sliderContainer {
  width: 100%;
}

.h {
  margin-bottom: 5%;
  margin-left: 5%;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  margin-right: 5%;
  letter-spacing: -0.06em;

  color: #ffffff;
}
