.wrapper {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/image.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.blur {
  height: 100%;
  width: 100%;
  background-color: #2b2a2a1a;
  backdrop-filter: blur(5px);
}
