.container {
  margin-top: 7%;
  height: 5%;
  width: 87%;
}
.customInput {
  width: 87%;
  height: 100%;
  padding-left: 45px;
  background: rgba(217, 217, 217, 0.3);
  border-radius: 4px;
  border: none;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: -0.06em;

  color: #ffffff;
}
.customInput::placeholder {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: -0.06em;

  color: #ffffff;
}
.absoluteImg {
  position: absolute !important;
  height: 5%;
  width: 45px;
}
