.leaflet-container {
  width: 100%;
  height: 100vh;
}

// hiding watermark
.leaflet-control-attribution.leaflet-control {
  display: none;
}

.leaflet-control-zoom-in span,
.leaflet-control-zoom-out span {
  color: black;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.leaflet-container {
  background: #000;
}
