.wrapper {
  height: 100%;
  width: 100%;
}

.img {
  width: 360px;
  height: 400px;
}
.header {
  color: #fff;
  font-weight: 800;
  font-size: 30px;
  line-height: 37.65px;
  width: 243px;
  margin-left: 58px;
}
.paragraph {
  font-size: 15px;
  font-weight: 300;
  line-height: 18.83px;
  text-align: left;
  margin-left: 57px;
  margin-top: 41px;
  width: 246px;
  margin-bottom: 82px;
  color: #464646;
}
.span {
  font-size: 15px;
  font-weight: 500;
  line-height: 17.24px;
  text-align: left;
  color: #99f0d1;
}
