.sliderContainerCover {
  width: 84%;
  height: 183px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgba(217, 217, 217, 0.1);
  border-radius: 8px;
  margin-right: 8.5%;
  margin-left: 8.5%;
  cursor: pointer;
}
.img {
  text-align: center;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.06em;

  color: #ffffff;
}
.h2 {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.06em;

  color: #ffffff;
}
