.wrapper {
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
  width: 100%;
  background-color: black;
  padding-top: 20px;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
