.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  .button {
    font-family: "Mulish";
    background: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    padding: 0;
    cursor: pointer;
  }
}
